In [6]:
import math

2. Написать программу, которая вычисляет площадь фигуры,
параметры которой подаются на вход. Фигуры, которые подаются на вход:
треугольник, прямоугольник, круг. Результатом работы является словарь, где
ключ – это название фигуры, а значение – это площадь.

In [4]:
trianA, trianB, trianAng = map(float, input("Triangle 2 sides and angle:").split())
print(trianA, trianB, trianAng)

3.0 5.0 90.0

In [10]:
print("Triangle area:", trianA * trianB / 2 * math.sin(math.radians(trianAng)))

Triangle area: 7.5

In [11]:
squareA, squareB = map(float, input("Rectangle 2 sides:").split())
print(squareA, squareB)

10.0 2.0

In [13]:
print("Rectangle area:", squareA * squareB)

Rectangle square: 20.0

In [14]:
circR = float(input("Circle radius:"))
print(circR)

5.0

In [15]:
print("Circle area:", circR * circR * math.pi)

Circle area: 78.53981633974483

3. Написать программу, которая на вход получает два числа и
операцию, которую к ним нужно применить. Должны быть реализованы
следующие операции: +, -, /, //, abs – модуль, pow или ** – возведение в
степень.

In [16]:
calcA, calcB = map(float, input("Numbers: ").split())
op = input("Operation (+, -, /, //, abs, pow, **): ").strip()

result = None

if op == "+":
    result = calcA + calcB
elif op == "-":
    result = calcA - calcB
elif op == "/":
    if calcB != 0:
        result = calcA / calcB
    else:
        result = "error"
elif op == "//":
    if calcB != 0:
        result = calcA // calcB
    else:
        result = "error"
elif op == "abs":
    result = (abs(calcA), abs(calcB))
elif op in ("pow", "**"):
    result = calcA ** calcB
else:
    result = "error"

print("Result:", result)

Result: 125.0

4. Напишите программу, которая считывает с консоли числа (по
одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и
после этого выводит сумму квадратов всех считанных чисел.

In [17]:
numbers = []
total = 0

while True:
    num = int(input())
    numbers.append(num)
    total += num
    if total == 0:
        break

print("Square sum:", sum(x ** 2 for x in numbers))

Square sum: 38

5. Напишите программу, которая выводит последовательность
чисел, длинною N, где каждое число повторяется столько раз, чему оно равно.
На вход программе передаётся неотрицательное целое число N. Например,
если N = 7, то программа должна вывести 1 2 2 3 3 3 4. Вывод элементов списка
через пробел – print(*list).

In [18]:
N = int(input("N: "))
result = []
num = 1

while len(result) < N:
    result.extend([num] * num)
    num += 1

result = result[:N]
print(*result)

1 2 2 3 3 3 4

6. Даны два списка:
А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
В = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']
Создать словарь, в котором ключи – это содержимое списка В, а
значения для ключей словаря – это сумма всех элементов списка А в
соответствии с буквой, содержащийся на той же позиции в списке В.
Пример результата программы: {'a' : 10, 'b' : 15, 'c' : 6}.

In [20]:
A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']
result = {}

for num, key in zip(A, B):
    result[key] = result.get(key, 0) + num

print(result)

{'a': 17, 'b': 11, 'c': 17}

Скачать и загрузить данные о стоимости домов в калифорнии,
используя библиотеку sklearn.

In [33]:
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)
import pandas as pd

df = data.frame

9. Узнать, есть ли пропущенные значения, используя isna().sum().

In [34]:
df.isna().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

10. Вывести записи, где средний возраст домов в районе более 50 лет и
население более 2500 человек, используя метод loc().

In [35]:
df.loc[(df['HouseAge'] > 50) & (df['Population'] > 2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26,1.75000
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20,1.93600
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21,1.53000
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71,2.12500
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21,1.67600
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20,1.62500
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15,2.25000
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41,2.43800
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41,5.00001
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41,2.75000
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41,2.25000
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42,3.25000
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41,2.60300

11. Узнать максимальное и минимальное значения медианной
стоимости дома.

In [37]:
print("max:", df['MedHouseVal'].max(), "min:", df['MedHouseVal'].min())

max: 5.00001 min: 0.14999

12. Используя метод apply(), вывести на экран название признака и его среднее значение.

In [38]:
df_mean = df.apply(lambda x: x.mean())

for col, mean_val in df_mean.items():
    print(f"{col}: {mean_val}")

MedInc: 3.8706710029069766
HouseAge: 28.639486434108527
AveRooms: 5.428999742190376
AveBedrms: 1.096675149606208
Population: 1425.4767441860465
AveOccup: 3.0706551594363742
Latitude: 35.63186143410852
Longitude: -119.56970445736432
MedHouseVal: 2.0685581690891475

1.*

In [39]:
morze = {
    'a': '.-', 'b': '-...', 'c': '-.-.', 'd': '-..',
    'e': '.', 'f': '..-.', 'g': '--.', 'h': '....',
    'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
    'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
    'q': '--.-', 'r': '.-.', 's': '...', 't': '-',
    'u': '..-', 'v': '...-', 'w': '.--', 'x': '-..-',
    'y': '-.--', 'z': '--..'
}

text = input("text: ")
words = text.lower().split()
for word in words:
    morse_word = ' '.join(morze[char] for char in word if char in morze)
    print(morse_word)

.. --. -. .. - .. --- -.
... . --.- ..- . -. -.-. .
... - .- .-. -

2.*

In [43]:
n = int(input())
data = []
for _ in range(n):
    data.append(input())
database = {}
result = []

for i in range(n):
     name = data[i].strip()

     if name not in database:
         database[name] = 1
         result.append("OK")
     else:
         count = database[name]
         while f"{name}{count}" in database:
             count += 1
         new_name = f"{name}{count}"
         database[new_name] = 1
         database[name] = count + 1
         result.append(new_name)

for res in result:
     print(res)

OK
b1
b2